@import "../../node_modules/bootstrap/less/bootstrap";

@fa-font-path: "fonts";
@import "../../node_modules/font-awesome/less/font-awesome";

@footer-height: 30px;

body {
  padding-top: 50px;
  margin-bottom: @footer-height;
  background-image: url(http://img.wonderhowto.com/img/34/18/63411095856461/0/scrabble-2-men-created-trivial-pursuit-rip-chris-haney.w654.jpg);
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  line-height: @footer-height;
  background-color: #f5f5f5;
  color: black;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    align-self: center;
  }
}

#info-jumbotron {
  background-color: #EDC951
}

#info-search {
  background-color: #00a0b0;
  width: 80px;
  height: 40px;
  font-size: 18px;
}

#gameform-jumbotron {
  background-color: #00a0b0;
}

#addGame-button {
  background-color: #edc951;
}

#results-jumbotron {
  background-color: #eb6841;
}

#searchDetail-panel {
  background-color: #00a0b0
}

.gamedetailstitle {
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 40px;
  text-shadow: 1px 1px #26B2CC;
  font-weight: bolder;
  color: #999999;
}

.gamedeatilitem {
  padding-top: 30px;
}

.detailsinfo {
  padding-top: 18px;
  font-style: italic;
}

.gamedetailsdetails {
  height: 200px;
  overflow: scroll;
  background-color: #edc951;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

.carousel {
  border: 3px solid gray;
  border-radius: 10px;
}

.gamepic {
  width: 100%;
}

.carousel-inner {
  width:100%;
  max-height: 250px !important;
}

.gameImg {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}

.btn-success {
  border: 1px solid green;
  border-radius: 10%;
}

.inline {
  display: inline-flex;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 20px;
}

.well {
  font-size: 22px;
  padding-left: 20px;

  p {
    margin: 10px;
  }
}

p {
  margin: 40px;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.content {
  width: 50%;
  margin-left: 25%;
  align-content: flex-end;
}

@media (max-width: 500px) {
  #gameForm p {
    display: none;
  }
}

.splashgamepad {
  color: #edc951;
}

.splashpuzzle {
  color: #195B00;
}

.splashtrophy {
  color: #00a0b0;
}

.splashwelcome {
  text-align: center;
  padding: 30px;
  font-size: 75px;
  font-style: italic;
  color: black;
  font-size: 3em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.splashcontainer {
  height: 105vh;
  margin: 0 auto;
}

#splashtext {
  font-size: 30px;
  padding-top: 40px;
  padding-bottom:10px;
}

.splashpopout {
  height: 100vh;
  margin: 30px 150px 150px;
  border: solid;
  border-radius: 10px;
  background-color: #cc2a36;
  // background-image: url(http://img.wonderhowto.com/img/34/18/63411095856461/0/scrabble-2-men-created-trivial-pursuit-rip-chris-haney.w654.jpg);
}

#startnow {
  font-weight: bold;
  font-size: 20px;
  padding:8px;
  color: #272c32;
  background-color:#00a0b0;
  border:3px solid #393939;
  border-radius:10px;
  margin-top: 90px;

  &:hover {
    background-color:rgba(255,204,0,0.8);
  }
}

.info-collect, .search-results, .new-game {
  margin-top: 30px;
}
